* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    display: grid;
    width: 100%;
    aspect-ratio: 1 / 1;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.container {
    background-color: black;
    height: 100vh;
}

.box {
    position: relative;
    background-color: white;
    height: 100%;
    aspect-ratio: 1 / 1;
}

.box > img {
    visibility: hidden;
    position: absolute;
}

img.show {
    visibility: visible;
}